<script>
	import { goto } from '$app/navigation';

	import { tiles, roads } from '$lib/store';
	import Spawn from '$lib/Spawn';
	import Void from '$lib/Void';
	import Road from '$lib/Road';
	import Bend from '$lib/Bend';
	import { modal } from '$lib/modals';
	import Intersection from '$lib/Intersection';

	let mapSelected = 'null';
	let isLoading = false;
	const loadSelectedMap = () => {
		isLoading = true;

		switch (mapSelected) {
			case 'empty':
				tiles.set(Array());
				roads.set(Array());
				break;
			case 'test_singleRoad':
				tiles.set(Array(new Spawn(0, 400, 300), new Void(1, 800, 300)));
				roads.set(Array(new Road(0, 1)));
				break;
			case 'test_bendRoad':
				tiles.set(Array(new Spawn(0, 400, 200), new Bend(1, 600, 200), new Void(2, 800, 300)));
				roads.set(Array(new Road(0, 1), new Road(1, 2)));
				break;
			case 'test_bendInput':
				tiles.set(Array(new Spawn(1, 400, 200), new Bend(2, 600, 200), new Void(3, 800, 300)));
				roads.set(Array(new Road(1, 2), new Road(2, 3)));
				break;
			case 'test_roadOverflow':
				tiles.set(Array(new Spawn(1, 400, 300), new Spawn(2, 600, 300)));
				roads.set(Array(new Road(1, 2)));
				break;
			case 'test_spawnTarget':
				tiles.set(
					Array(
						new Spawn(1, 400, 200, 3),
						new Intersection(2, 600, 200),
						new Void(3, 800, 300),
						new Void(4, 800, 200)
					)
				);
				roads.set(Array(new Road(1, 2), new Road(2, 3), new Road(2, 4)));
				break;
			case 'test_shortestPath':
				tiles.set(
					Array(
						new Spawn(1, 400, 200, 5),
						new Intersection(2, 500, 200),
						new Bend(3, 600, 300),
						new Bend(4, 700, 200),
						new Void(5, 800, 200)
					)
				);
				roads.set(Array(new Road(1, 2), new Road(2, 3), new Road(2, 4), new Road(3, 4), new Road(4, 5)));
				break;
			case 'test_problematicIncident':
				tiles.set(
					Array(
						new Spawn(1, 200, 200, 2),
						new Void(2, 1000, 200),
						new Spawn(3, 200, 500, 4),
						new Void(4, 1000, 500),
						new Spawn(5, 1000, 325),
						new Void(6, 200, 325),
						new Spawn(7, 200, 375, 8),
						new Void(8, 1000, 375),
						new Intersection(9, 525, 200),
						new Intersection(10, 550, 200),
						new Intersection(11, 650, 375),
						new Intersection(12, 675, 500),
						new Bend(13, 525, 500),
						new Bend(14, 550, 375),
						new Bend(15, 650, 200),
						new Bend(16, 675, 200),
					)
				);
				roads.set(
					Array(
						new Road(5, 6, -4),
						new Road(5, 6, 4),
						new Road(1, 9),
						new Road(9, 10),
						new Road(10, 15),
						new Road(15, 16),
						new Road(16, 2),
						new Road(3, 13),
						new Road(13, 12),
						new Road(12, 4),
						new Road(9, 13),
						new Road(12, 16),
						new Road(10, 14),
						new Road(14, 11, -4),
						new Road(14, 11, 4),
						new Road(11, 15),
						new Road(7, 14, -4),
						new Road(7, 14, 4),
						new Road(11, 8, -4),
						new Road(11, 8, 4)
					)
				);
				break;
			default:
				break;
		}

		//Temporarily fixes load issue, may be removed later if issue #12 is fixed (check gitlab!)
		setTimeout(() => {
			goto('simulator');
			modal.close();
		}, 1000);
	};
</script>

<h3 class="text-lg font-bold">Select map</h3>
<select class="select select-bordered w-full max-w-sm mt-4" bind:value={mapSelected}>
	<option value="null" disabled selected>None</option>
	<option value="empty">Empty</option>
	<option value="test_singleRoad">Test: Single road</option>
	<option value="test_bendRoad">Test: Road with bend</option>
	<option value="test_roadOverflow">Test: Road overflow</option>
	<option value="test_spawnTarget">Test: Spawn target</option>
	<option value="test_shortestPath">Test: Shortest path</option>
	<option value="test_problematicIncident">Problematic Incident</option>
</select>
<div class="modal-action">
	<button
		class="btn {isLoading && 'loading'}"
		disabled={mapSelected === 'null'}
		on:click={loadSelectedMap}>Load</button
	>
</div>
