<script>
	import { fade } from "svelte/transition"
	import { onMount } from "svelte"
	import Img from "@zerodevx/svelte-img"

	import { logs } from "$lib/logs"
	import { finishedLoading, vidLoaded } from "$lib/loader"

	import EventDesc from "$cmp/EventDesc.svelte"
	import CountdownBanner from "$cmp/CountdownBanner.svelte"
	import Footer from "$cmp/footer/Footer.svelte"
	import MediaQuery from "$cmp/MediaQuery.svelte"

	import banner_final from "$lib/assets/banner/final.png?run"
	import banner_final_m from "$lib/assets/banner/m_final.png?run"
	import isIos from "is-ios"
	import Spawn from "$lib/Spawn"
	import Bend from "$lib/Bend"
	import Intersection from "$lib/Intersection"
	import Void from "$lib/Void"
  import { placing } from "$lib/store"

	let mountedRn = false
	let vidEnded = false

	logs.add({ msg: "Banner mounted" }, "info")

	onMount(() => {
		mountedRn = true
	})
</script>

<svelte:head>
	<title>Traffic Simulator</title>
</svelte:head>

<div data-rahneiln3scroll-section>
	{#if $finishedLoading}
		<script>
			document.getElementById("RahNeil_N3:CO:hbgiapv")?.play()
		</script>
	{/if}

	<MediaQuery query="(max-width: 480px)" let:matches>
		<div class="relative" style="height: calc(100vh + 120px)" data-rahneiln3scroll>
			<div class="drawer drawer-end">
				<input id="my-drawer" type="checkbox" class="drawer-toggle" />
				<div class="drawer-content">
					<!-- Empty [alt] on purpose because decorative, doesn't need to be described -->
					<Img
						src={matches ? banner_final_m : banner_final}
						class="absolute z-10 h-full w-screen object-center object-cover"
						alt=""
					/>
					{#if !vidEnded && mountedRn}
						<video
							class="w-full object-cover z-20 absolute"
							id="RahNeil_N3:CO:hbgiapv"
							playsinline
							disableremoteplayback
							muted
							aria-hidden="true"
							style="height: calc(100vh + 120px)"
							src="banner/{matches ? 'm_' : ''}in.mp4"
							preload="auto"
							on:error={() => vidLoaded.set(true)}
							on:canplaythrough={() => vidLoaded.set(true)}
							on:loadedmetadata={() => {
								if (isIos) vidLoaded.set(true)
							}}
							bind:ended={vidEnded}
							out:fade
						/>
					{/if}

					<div class="absolute top-0 left-0 w-full h-screen z-30">
						<slot />
					</div>
				</div>
				<div class="drawer-side pt-16">
					<label for="my-drawer" class="drawer-overlay cursor-pointer" />
					<ul class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
						{#each [Spawn, Bend, Intersection, Void] as e}
							<li>
								<!-- svelte-ignore a11y-click-events-have-key-events -->
								<label
									for="my-drawer"
									on:click={() =>
										setTimeout(() => {
											placing.set(e)
										}, 250)}
								>
									{new e(-1, 0, 0).displayName}
								</label>
							</li>
						{/each}
					</ul>
				</div>
			</div>
		</div>
	</MediaQuery>

	<EventDesc />

	<CountdownBanner />

	<Footer />
</div>
