<script>
	import { goto } from "$app/navigation"
	import { fly, fade } from "svelte/transition"

	import { scrollInstance } from "$lib/scroll"
	import { loaderReady } from "$lib/loader"
	import { rc_banner_project_url } from "$lib/firebase"
	import { modal } from "$lib/modals"

	import MapSelectorModal from "$cmp/modals/MapSelectorModal.svelte"

	export let loaded = true

	let watchTrailer = () => {
		modal.open($modal, MapSelectorModal)
		$scrollInstance?.scrollTo("top", {
			callback: function () {
				$scrollInstance.update()
			}
		})
	}
</script>

<div class="flex w-full h-full flex-col items-center justify-center">
	<div data-rahneiln3scroll data-rahneiln3scroll-speed="2">
		{#if loaded && $loaderReady}
			<div
				in:fly={{ delay: 1000, y: -450, duration: 900 }}
				out:fade={{ duration: 750 }}
				on:introstart={() => setTimeout(() => $scrollInstance.update(), 25)}
				on:introend={() => $scrollInstance.update()}
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 48 48"
					class="w-52 fill-white"
					in:fly={{ delay: 1000, y: -450, duration: 900 }}
				>
					<path
						d="M22.5 44v-9h-11L6 29.5l5.5-5.5h11v-4.5H7.8v-11h14.7V4h3v4.5h11L42 14l-5.5 5.5h-11V24h14.7v11H25.5v9ZM10.8 16.5h24.45l2.5-2.5-2.5-2.5H10.8ZM12.75 32H37.2v-5H12.75l-2.5 2.5ZM10.8 16.5v-5 5ZM37.2 32v-5 5Z"
					/>
				</svg>
			</div>
		{/if}
	</div>

	<div class="flex flew-row gap-4 h-12">
		<div data-rahneiln3scroll data-rahneiln3scroll-speed="2" data-rahneiln3scroll-delay="0.1">
			{#if loaded && $loaderReady}
				<a
					class="btn"
					in:fade={{ delay: 1800 }}
					out:fade={{ duration: 1000 }}
					on:introend={() => $scrollInstance.update()}
					href={$rc_banner_project_url}
					target="_blank"
				>
					View Project
				</a>
			{/if}
		</div>
		<div data-rahneiln3scroll data-rahneiln3scroll-speed="2" data-rahneiln3scroll-delay="0.07">
			{#if loaded && $loaderReady}
				<button
					class="btn btn-gradient"
					style="transition-property: background-position; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-duration: 400ms;"
					in:fade={{ delay: 2050 }}
					out:fade={{ duration: 1000 }}
					on:click={watchTrailer}
					on:introend={() => $scrollInstance.update()}
				>
					Start Simulation
				</button>
			{/if}
		</div>
	</div>
</div>
