<script>
	import { fly, fade, slide, scale } from "svelte/transition"
	import { quintOut } from "svelte/easing"

	import { showLogo } from "$lib/scroll"
	import { modal } from "$lib/modals"
	import { userData, signOut } from "$lib/user"

	import LoginModal from "$cmp/modals/LoginModal.svelte"
	import SendFeedbackIconButton from "$cmp/SendFeedbackIconButton.svelte"
	import Icon from "$cmp/Icon.svelte"
	import { toasts } from "$lib/toasts"
	import { fast, placing, roads, selectedTiles, tiles, measuring, measuringLogs } from "$lib/store"
	import Spawn from "$lib/Spawn"
	import Road from "$lib/Road"
	import { page } from "$app/stores"

	const MEASURING_SAMPLE = 200

	const startMeasuring = () => {
		var spawnCount = 0
		for (let t of $tiles) {
			if (t instanceof Spawn) {
				t.measuringCount = MEASURING_SAMPLE * t.outputRoads.length
				fast.set(true)
				spawnCount += t.outputRoads.length
			}
		}
		measuring.set(spawnCount * MEASURING_SAMPLE)
		measuringLogs.set([])
	}
</script>

<div class="fixed z-10 w-full" style="transform:translate3d(0,0,0)">
	<div class="">
		<!-- p-2 -->
		<div
			class="px-4 navbar glass {$showLogo &&
				'bg-base-100 shadow-md hover:bg-base-100 hover:shadow-md'} transition-all duration-500"
		>
			<!-- shadow-lg -->
			<div class="navbar-start relative">
				<div transition:fly={{ x: -52, duration: 1000, opacity: 1 }} class="absolute -top-6 left-0">
					<a class="btn btn-ghost normal-case" href="/">
						<div class="flex flex-row items-center">
							{#if $showLogo}
								<div
									in:slide={{ duration: 1000, axis: "x", easing: quintOut }}
									out:slide={{ duration: 1000, delay: 250, axis: "x", easing: quintOut }}
								>
									<div
										class="pr-3"
										in:fade={{ delay: 500, duration: 500, easing: quintOut }}
										out:fade={{ duration: 500, easing: quintOut }}
									>
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="h-8">
											<path
												d="M22.5 44v-9h-11L6 29.5l5.5-5.5h11v-4.5H7.8v-11h14.7V4h3v4.5h11L42 14l-5.5 5.5h-11V24h14.7v11H25.5v9ZM10.8 16.5h24.45l2.5-2.5-2.5-2.5H10.8ZM12.75 32H37.2v-5H12.75l-2.5 2.5ZM10.8 16.5v-5 5ZM37.2 32v-5 5Z"
											/>
										</svg>
									</div>
								</div>
							{/if}
							<span out:fade={{ delay: 1000 }} class="whitespace-nowrap">Traffic Simulator</span>
						</div>
					</a>
				</div>
			</div>
			<div class="navbar-end gap-0.5">
				<SendFeedbackIconButton
					origin="jMixcwRegK@RahNeil_N3:Appbar:content:navbar:end"
					tooltipDirection="bottom"
				/>
				{#if $page.route.id === "/(landing)/simulator"}
					<div class="tooltip tooltip-bottom" data-tip="x5">
						{#if $measuring == 0}
							<button class="btn btn-circle btn-ghost" on:click={() => fast.update((f) => !f)}>
								{#if $fast}
									<Icon>fast_forward</Icon>
								{:else}
									<Icon>play_arrow</Icon>
								{/if}
							</button>
						{:else}
							<button class="btn btn-circle btn-ghost mr-2 loading" />
						{/if}
					</div>
					<div class="tooltip tooltip-bottom" data-tip="Measure">
						{#if $measuring == 0}
							<button class="btn btn-circle btn-ghost mr-2" on:click={startMeasuring}>
								<Icon>avg_time</Icon>
							</button>
						{:else}
							<button class="btn btn-circle btn-ghost mr-2 loading" />
						{/if}
					</div>
					{#if $placing !== null}
						<div class="tooltip tooltip-bottom" data-tip="Cancel">
							<button
								class="btn btn-circle btn-ghost mr-2"
								on:click={() => placing.set(null)}
								transition:scale={{ duration: 250 }}
							>
								<Icon>cancel</Icon>
							</button>
						</div>
					{/if}
					{#if $selectedTiles.length === 2}
						<button
							class="btn btn-square mr-2"
							on:click={() => {
								let r = new Road($selectedTiles[0].id, $selectedTiles[1].id)
								r.setup($tiles)
								$roads.push(r)
								selectedTiles.set([])

								for (let t of $tiles) {
									if (t instanceof Spawn) {
										t.computePaths()
									}
								}
							}}
							transition:scale={{ duration: 250 }}
						>
							<Icon>add_road</Icon>
						</button>

						<!-- REMOVE ROAD -->
						{#if $selectedTiles[0].outputRoads.filter((v) => v.nodeId2 == $selectedTiles[1].id).length > 0}
							<button
								class="btn btn-square mr-2"
								on:click={() => {
									roads.update((rl) => {
										return rl.filter(
											(r) => r.nodeId1 != $selectedTiles[0].id || r.nodeId2 != $selectedTiles[1].id
										)
									})

									selectedTiles.set([])

									for (let t of $tiles) {
										t.clearRoads()
									}
									for (let r of $roads) {
										r.setup($tiles)
									}
									for (let t of $tiles) {
										if (t instanceof Spawn) {
											t.computePaths()
										}
									}
								}}
								transition:scale={{ duration: 250 }}
							>
								<Icon>remove_road</Icon>
							</button>
						{/if}
					{/if}
					<label
						for="my-drawer"
						class="btn mr-1 gap-2 drawer-button btn-primary"
						on:click={() => placing.set(null)}
					>
						Edit
						<Icon>edit_location</Icon>
					</label>
				{/if}
				<!--
				{#if $privateData && $privateData?.contributor || false}
					<button
						class="btn btn-circle btn-ghost"
						on:click={() =>
							toasts.default(
								"Thanks for contributing to the website, " + $privateData?.contributor + "!"
							)}
					>
						<Icon>volunteer_activism</Icon>
					</button>
				{/if}-->
				<slot />
				<div class="ml-2">
					{#if $userData}
						<div class="dropdown dropdown-end">
							<div class="tooltip tooltip-left" data-tip={$userData.displayName}>
								<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
								<!-- Here we use a <label tabindex="0"> instead of a <button> because Safari has a bug that prevents the button from being focused. -->
								<!-- Using tabindex="0" is required so the dropdown can be focused. -->
								<label tabindex="0" class="btn btn-ghost btn-circle avatar" for="">
									<div class="w-10 rounded-full">
										<img
											referrerpolicy="no-referrer"
											src={$userData.photoURL}
											alt={$userData.displayName + " profile picture"}
										/>
									</div>
								</label>
							</div>
							<!-- svelte-ignore a11y-no-noninteractive-tabindex -->
							<!-- Here we use a <label tabindex="0"> instead of a <button> because Safari has a bug that prevents the button from being focused. -->
							<!-- Using tabindex="0" is required so the dropdown can be focused. -->
							<ul
								tabindex="0"
								class="p-2 shadow-md menu menu-compact dropdown-content rounded-box w-52 bg-base-300 text-base-content gap-1"
							>
								<li>
									<button on:click={() => toasts.warning("Not available yet!")}>
										<Icon>account_circle</Icon>
										Your profile
									</button>
								</li>
								<li>
									<button on:click={signOut}>
										<Icon>logout</Icon>
										Sign out
									</button>
								</li>
							</ul>
						</div>
					{:else}
						<button
							class="btn btn-square md:hidden"
							on:click={() => modal.open($modal, LoginModal)}
							aria-label="Login"
						>
							<Icon class="text-white">login</Icon>
						</button>
						<button
							class="btn hidden md:flex text-white"
							on:click={() => modal.open($modal, LoginModal)}
						>
							Login
						</button>
					{/if}
				</div>
			</div>
		</div>
	</div>
</div>
