<script>
	/*import { fly, fade } from 'svelte/transition';
	import { onMount } from 'svelte';

	import MediaQuery from './MediaQuery.svelte';
	import { logs } from '$lib/logs';
	import { loaderReady, bannerLoaded } from '$lib/loader';
	import { rc_banner_project_url } from '$lib/firebase';
	import { modal } from '$lib/modals';
	import MapSelectorModal from './modals/MapSelectorModal.svelte';

	let mountedRn = false;
	let vidEnded = false;
	let vidPreloaded = false;
	let loaded = false;

	logs.add({ msg: 'Banner mounted' }, 'info');

	let frameWaited = false;
	setTimeout(() => {
		frameWaited = true;
	}, 1);

	let checkPreload = () => {
		if (vidPreloaded) {
			bannerLoaded.set(true);
			loaded = true;
			logs.add({ msg: 'Banner loaded' }, 'info');
		}
	};

	onMount(() => {
		mountedRn = true;
	});*/
</script>

<!--
<div>
	{#if loaded && $loaderReady}
		<script>
			document.getElementById('RahNeil_N3:TrafficSim:hbgiapv')?.play();
		</script>
	{/if}

	<MediaQuery query="(max-width: 480px)" let:matches>
		<div
			class="w-full bg-cover bg-center relative"
			style="background-image: url('banner/{matches
				? 'm_'
				: ''}final.png'); height: calc(100vh + 120px)"
			data-rahneiln3scroll
		>
			{#if !vidEnded && mountedRn}
				<video
					class="w-full object-cover"
					id="RahNeil_N3:TrafficSim:hbgiapv"
					playsinline
					disableremoteplayback
					muted
					aria-hidden="true"
					style="height: calc(100vh + 120px)"
					src="banner/{matches ? 'm_' : ''}in.mp4"
					on:error={() => {
						vidPreloaded = true;
						checkPreload();
					}}
					on:canplaythrough={() => {
						vidPreloaded = true;
						checkPreload();
					}}
					bind:ended={vidEnded}
					out:fade
				/>
			{/if}

			<div class="absolute top-0 left-0 w-full h-full">
				<div class="flex w-full h-full flex-col items-center justify-center pb-16">
					<div data-rahneiln3scroll data-rahneiln3scroll-speed="2" class="pb-2">
						{#if frameWaited}
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 48 48"
								class="w-52 fill-white"
								in:fly={{ delay: 1000, y: -450, duration: 900 }}
							>
								<path
									d="M22.5 44v-9h-11L6 29.5l5.5-5.5h11v-4.5H7.8v-11h14.7V4h3v4.5h11L42 14l-5.5 5.5h-11V24h14.7v11H25.5v9ZM10.8 16.5h24.45l2.5-2.5-2.5-2.5H10.8ZM12.75 32H37.2v-5H12.75l-2.5 2.5ZM10.8 16.5v-5 5ZM37.2 32v-5 5Z"
								/>
							</svg>
						{/if}
					</div>

					<div class="flex flew-row gap-4">
						<div>
							<div
								data-rahneiln3scroll
								data-rahneiln3scroll-speed="2"
								data-rahneiln3scroll-delay="0.1"
							>
								<div class="pb-24 -mt-4">
									{#if frameWaited}
										<a
											class="btn"
											in:fade={{ delay: 1800 }}
											href={$rc_banner_project_url}
											target="_blank"
										>
											View Project
										</a>
									{/if}
								</div>
							</div>
						</div>
						<div>
							<div
								data-rahneiln3scroll
								data-rahneiln3scroll-speed="2"
								data-rahneiln3scroll-delay="0.07"
							>
								<div class="pb-24 -mt-4">
									{#if frameWaited}
										<button
											class="btn btn-accent text-white border-transparent hover:border-transparent bg-gradient-to-br from-green-500 via-teal-500 to-blue-500 bg-size-200 bg-pos-10 hover:bg-pos-90"
											style="transition-property: background-position; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-duration: 400ms;"
											in:fade={{ delay: 2050 }}
											on:click={() => modal.open($modal, MapSelectorModal)}
										>
											Start Simulation
										</button>
									{/if}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</MediaQuery>
</div>
-->