<script>
	import { onMount, onDestroy } from "svelte"
	import Img from "@zerodevx/svelte-img"

	import FooterContent from "$cmp/footer/FooterContent.svelte"

	import bg_countdown from "$lib/assets/bg_countdown.jpg?run"

	let seconds = 3600 * 24 + 15 //TODO !
	/** @type {number | null} */
	let intervalID = null

	onMount(() => {
		intervalID = window.setInterval(() => seconds--, 1000)
	})

	onDestroy(() => {
		if (intervalID) window.clearInterval(intervalID)
	})
</script>

<div data-rahneiln3scroll>
	<div class="hero relative">
		<!-- Empty [alt] on purpose because decorative, doesn't need to be described -->
		<Img
			src={bg_countdown}
			class="absolute h-full w-screen object-center object-cover -z-10 top-0 left-0"
			alt=""
		/>

		<div class="hero-overlay bg-opacity-60" />

		<div class="flex flex-col relative">
			<div class="absolute w-screen h-full hero-content text-center flex-col text-white max-w-none">
				<span
					class="uppercase text-sm font-semibold font-sans mb-1 sm:mb-2 mt-4"
					data-rahneiln3scroll
					data-rahneiln3scroll-speed="2"
				>
					SOON
				</span>
			</div>

			<div style="height: calc(100vh + 120px)" />
			<div class="w-screen invisible">
				<FooterContent />
			</div>
		</div>
	</div>
</div>
