<script>
	import { rc_desc_article } from "$lib/firebase"
</script>

<div
	class="absolute w-screen overflow-hidden z-30"
	data-rahneiln3scroll
	data-rahneiln3scroll-speed="8"
	data-rahneiln3scroll-position="top"
	data-rahneiln3scroll-offset="-120"
>
	<div class="relative h-28">
		<div class="flex flex-row">
			<svg
				class="rotate-180"
				width="100%"
				height="120"
				viewBox="0.1 0.1 180 40"
				preserveAspectRatio="none"
			>
				<g transform="translate(-18.298844,-77.973964)">
					<path
						class="fill-base-300"
						d="M 31.615583,86.351641 H 192.16499 v 26.901969 c 0,0 -32.03411,-14.237983 -59.62682,-12.72484 -22.34188,1.2252 -54.779359,9.72634 -54.779359,9.72634 0,0 -22.029534,3.62882 -34.471238,-1.88988 -12.441702,-5.51871 -11.67199,-22.013589 -11.67199,-22.013589 z"
					/>
					<path
						class="fill-base-100"
						d="M 18.441597,78.106256 H 198.58126 v 39.288614 c 0,0 -43.10672,-27.825245 -73.47599,-19.687823 -30.369264,8.137423 -46.832208,12.548653 -46.832208,12.548653 0,0 -32.775418,8.05972 -46.735258,0 C 17.577964,102.19598 18.441597,78.106256 18.441597,78.106256 Z"
					/>
				</g>
			</svg>
		</div>
	</div>
	<div
		class="-mt-2 -mb-2 w-screen h-screen flex items-center justify-center flex-col bg-base-100"
		data-rahneiln3scroll
		data-rahneiln3scroll-repeat
		data-rahneiln3scroll-call="appbar_showLogo"
	>
		<article class="prose py-20 px-10 prose-h1:text-center">
			{@html $rc_desc_article}
		</article>
	</div>
	<div class="relative h-28">
		<div class="flex flex-row">
			<svg
				class="-scale-y-100 rotate-180"
				width="100%"
				height="120"
				viewBox="0.1 0.1 180 40"
				preserveAspectRatio="none"
			>
				<g transform="translate(-18.298844,-77.973964)">
					<path
						class="fill-base-300"
						d="M 31.615583,86.351641 H 192.16499 v 26.901969 c 0,0 -32.03411,-14.237983 -59.62682,-12.72484 -22.34188,1.2252 -54.779359,9.72634 -54.779359,9.72634 0,0 -22.029534,3.62882 -34.471238,-1.88988 -12.441702,-5.51871 -11.67199,-22.013589 -11.67199,-22.013589 z"
					/>
					<path
						class="fill-base-100"
						d="M 18.441597,78.106256 H 198.58126 v 39.288614 c 0,0 -43.10672,-27.825245 -73.47599,-19.687823 -30.369264,8.137423 -46.832208,12.548653 -46.832208,12.548653 0,0 -32.775418,8.05972 -46.735258,0 C 17.577964,102.19598 18.441597,78.106256 18.441597,78.106256 Z"
					/>
				</g>
			</svg>
		</div>
	</div>
</div>
