<script>
	import { draw, fade } from "svelte/transition"
	import { quintOut } from "svelte/easing"
	import { onMount } from "svelte"
	import { finishedLoading, loaderReady, logoLoaded, vidLoaded } from "$lib/loader"
	import { page } from "$app/stores"

	let step = 0
	onMount(() => {
		setTimeout(() => {
			step = 1
		}, 10)
		setTimeout(() => {
			step = 2
		}, 400)
		setTimeout(() => {
			step = 3
			loaderReady.set(true)
			checkLoad()
		}, 2000)
	})

	let pathsBlocks = [
		[
			'M22.5 44v-9h-11L6 29.5l5.5-5.5h11v-4.5H7.8v-11h14.7V4h3v4.5h11L42 14l-5.5 5.5h-11V24h14.7v11H25.5v9ZM10.8 16.5h24.45l2.5-2.5-2.5-2.5H10.8ZM12.75 32H37.2v-5H12.75l-2.5 2.5ZM10.8 16.5v-5 5ZM37.2 32v-5 5Z'
		]
	]

	let checkLoad = () => {
		if ($loaderReady) {
			if ($page.route.id?.startsWith("/(landing)")) {
				if ($page.route.id == "/(landing)/simulator") {
					finishedLoading.set(true)
				} else {
					finishedLoading.set($logoLoaded && $vidLoaded)
				}
			} else {
				finishedLoading.set(true)
			}
		}
	}

	loaderReady.subscribe(checkLoad)
	logoLoaded.subscribe(checkLoad)
	vidLoaded.subscribe(checkLoad)
</script>

{#if !$finishedLoading}
	<div
		id="loader"
		class="h-screen w-screen absolute top-0 left-0 text-white flex items-center overflow-hidden z-20 bg-gradient-to-br"
		style="--tw-gradient-from: lightblue; --tw-gradient-to: lightblue; --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);"
		out:fade={{ duration: 250 }}
	>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 2000" class="w-64 h-64 flex-auto">
			{#if step == 1}
				{#each pathsBlocks as paths, i}
					{#each paths as path, i2}
						<path
							in:draw={{ duration: 1500, easing: quintOut, delay: i * 250 + i2 * 50 }}
							out:fade={{ duration: 500, delay: i * 250 + i2 * 50 }}
							stroke="currentColor"
							fill="none"
							stroke-width="15px"
							d={path}
						/>
					{/each}
				{/each}
			{/if}
			{#if step > 1}
				{#each pathsBlocks as paths, i}
					{#each paths as path, i2}
						<path
							in:fade={{ duration: 500, delay: i * 250 + i2 * 50 }}
							fill="currentColor"
							d={path}
						/>
					{/each}
				{/each}
			{/if}
		</svg>
	</div>
{/if}
