<script lang="ts">
	import { fade } from "svelte/transition"

	import { loaderReady } from "$lib/loader"
	import { scrollInstance } from "$lib/scroll"

	import { goto } from "$app/navigation"
	import Spawn from "$lib/Spawn"
	import { onMount } from "svelte"

	import { tiles, roads, selectedTiles, placing, fast } from "$lib/store"
	import { toasts } from "$lib/toasts"
	import type { p5 } from "p5-svelte"
	import P5 from "p5-svelte/P5.svelte"

	let maxID = 10
	let currentClick = false

	const sketch = (p5: p5) => {
		p5.setup = () => {
			p5.createCanvas(p5.windowWidth, p5.windowHeight)

			for (let r of $roads) {
				r.setup($tiles)
			}
			for (let t of $tiles) {
				if (t instanceof Spawn) {
					t.computePaths()
				}
			}
		}

		p5.mouseReleased = () => {
			currentClick = true
			return true
		}

		p5.draw = () => {
			p5.clear(0, 0, 0, 0)

			if ($fast) {
				for (let i = 0; i <= 9; i++) {
					for (let r of $roads) {
						r.update()
					}
					for (let t of $tiles) {
						t.update(p5)
					}
				}
			}

			for (let r of $roads) {
				r.update()
				r.draw(p5)
			}
			for (let t of $tiles) {
				t.update(p5)

				// Add clicked tiles to the selected array
				if (t.hovered(p5) && currentClick) {
					if ($selectedTiles.includes(t)) {
						selectedTiles.set($selectedTiles.filter((item) => item !== t))
					} else {
						selectedTiles.update(s => {s.push(t); return s})

						toasts.info("id: " + t.id)
						if (t instanceof Spawn) {
							toasts.info("path: " + t.computedPath)
						}
					}
					currentClick = false
				}

				t.draw(p5, $selectedTiles.includes(t))
			}
			for (let r of $roads) {
				r.drawEnd(p5)
			}

			if ($placing !== null) {
				new $placing(-1, p5.mouseX, p5.mouseY).draw(p5, false)

				if (currentClick) {
					$placing.id = maxID
					$tiles.push(new $placing(maxID, p5.mouseX, p5.mouseY))
					maxID++

					currentClick = false
				}
			}

			currentClick = false
		}
	}
</script>

<div class="relative w-full h-full">
	<div
		class="absolute w-screen bg-black"
		style="height: calc(100vh + 120px); z-index: 1000"
		in:fade={{ duration: 1000, delay: 1000 }}
		out:fade={{ duration: 1000 }}
		on:introend={() => $scrollInstance.update()}
		on:outroend={() => $scrollInstance.update()}
	>
		{#if $loaderReady}
			<div class="bg-base-200 w-full h-full">
				<P5 {sketch} />
			</div>
		{/if}
	</div>
</div>
