<script>
	// @ts-nocheck
	import Img from "@zerodevx/svelte-img"
	import currentYear from "current-year"

	import { rc_footer } from "$lib/firebase"
	import { modal } from "$lib/modals"
	import turtle from "$lib/assets/footer/turtle.png?run&lqip=0&w=80"

	import AboutUsModal from "$cmp/modals/AboutUsModal.svelte"
	import CopyrightModal from "$cmp/modals/CopyrightModal.svelte"
	import Icon from "$cmp/Icon.svelte"
	import SocialLinks from "$cmp/SocialLinks.svelte"
</script>

<div class="footer p-5 px-10" data-theme="dark">
	<div class="flex items-center gap-6">
		<label class="swap swap-rotate text-9xl">
			<input type="checkbox" tabindex="-1" />
			<div class="swap-off w-20 h-20">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 48 48"
					class="w-20 h-20 fill-white"
				>
					<path
						d="M22.5 44v-9h-11L6 29.5l5.5-5.5h11v-4.5H7.8v-11h14.7V4h3v4.5h11L42 14l-5.5 5.5h-11V24h14.7v11H25.5v9ZM10.8 16.5h24.45l2.5-2.5-2.5-2.5H10.8ZM12.75 32H37.2v-5H12.75l-2.5 2.5ZM10.8 16.5v-5 5ZM37.2 32v-5 5Z"
					/>
				</svg>
			</div>
			<div class="swap-on w-20 h-20 flex flex-col justify-end">
				<Img src={turtle} alt="Turtle <3" width={80} height={80} />
			</div>
		</label>
		<div class="flex flex-col mt-4 gap-2">
			<span class="font-semibold">Traffic Simulator</span>
			<span>TIPE 2023</span>
		</div>
	</div>
	<div>
		<span class="footer-title mb-1">Social</span>
		<SocialLinks links={$rc_footer.links} />
	</div>
	<div>
		<span class="footer-title mb-1">Credits</span>
		<div class="flex gap-2 items-center">
			<Icon>code</Icon>
			<span>
				Project by
				<button on:click={() => modal.open($modal, AboutUsModal)} class="link link-hover">
					Neïl Rahmouni
				</button>
			</span>
		</div>
		<div class="flex gap-2 items-center">
			<Icon>image</Icon>
			<span>
				Video banner by
				<button on:click={() => modal.open($modal, AboutUsModal)} class="link link-hover">
					Chadrixy
				</button>
			</span>
		</div>
		<button
			class="btn btn-outline btn-xs normal-case mt-1"
			on:click={() => modal.open($modal, AboutUsModal)}
		>
			About us
		</button>
	</div>
	<div>
		<span class="footer-title mb-1">Legal</span>
		<div xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
			<div class="flex gap-2 items-center mb-1">
				<Icon>copyright</Icon>
				<span>Copyright 2022 - {currentYear()}</span>
			</div>
			<div>
				<button
					rel="cc:attributionURL dct:creator"
					property="cc:attributionName"
					class="link link-hover text-xs"
					on:click={() => modal.open($modal, AboutUsModal)}
				>
					Neïl Rahmouni
				</button>
			</div>
			<div class="flex gap-1 text-xs">
				Licensed under
				<a
					href="http://creativecommons.org/licenses/by-nc-nd/4.0/"
					target="_blank"
					rel="license noopener noreferrer"
					class="link link-hover flex"
				>
					CC BY-NC-ND 4.0
					<img
						class="h-4 w-4 ml-1 align-text-bottom inline"
						src="https://mirrors.creativecommons.org/presskit/icons/cc.svg"
						alt="Copyright"
					/>
					<img
						class="h-4 w-4 ml-1 align-text-bottom inline"
						src="https://mirrors.creativecommons.org/presskit/icons/by.svg"
						alt="Attribution"
					/>
					<img
						class="h-4 w-4 ml-1 align-text-bottom inline"
						src="https://mirrors.creativecommons.org/presskit/icons/nc.svg"
						alt="Non commercial"
					/>
					<img
						class="h-4 w-4 ml-1 align-text-bottom inline"
						src="https://mirrors.creativecommons.org/presskit/icons/nd.svg"
						alt="No derivatives"
					/>
				</a>
			</div>
			<div class="mt-2">
				<button
					class="btn btn-outline btn-xs normal-case ring-500"
					on:click={() => modal.open($modal, CopyrightModal)}
				>
					Learn more
				</button>
			</div>
		</div>
	</div>
</div>
