<script>
	import FooterContent from '$cmp/footer/FooterContent.svelte';
</script>

<div class="relative">
	<div
		data-rahneiln3scroll
		data-rahneiln3scroll-speed="8"
		data-rahneiln3scroll-position="bottom"
		class="w-screen absolute bottom-0"
	>
		<FooterContent />
	</div>
</div>
