@tailwind base;
@tailwind components;
@tailwind utilities;

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth [data-rahneiln3scroll-container] {
    min-height: 100vh;
}

[data-rahneiln3scroll-direction="horizontal"] [data-rahneiln3scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
}

[data-rahneiln3scroll-direction="horizontal"] [data-rahneiln3scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}

.c-scrollbar:hover {
    transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

[data-rahneiln3scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
}

[data-rahneiln3scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

[data-rahneiln3scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
}

@keyframes borderSpin {
    from {
        transform: rotate(120deg)
    }

    to {
        transform: rotate(480deg)
    }
}

@layer components {

    /*---------- card-goldenOutline ----------*/
    .card-goldenOutline {
        @apply relative bg-opacity-100 overflow-hidden after:absolute before:w-full before:h-full before:absolute before:bg-inherit before:bg-opacity-100 before:opacity-100
    }

    .card-goldenOutline:after {
        background-image: linear-gradient(to bottom right in oklab,
                oklch(100% 0.38 82) 0%,
                oklch(72% 0.5 90) 100%);
        animation: borderSpin 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
        @apply h-1/3 top-1/2 -left-1/4 w-[200%] opacity-100
    }

    .card-goldenOutline .card-body {
        padding: calc(var(--padding-card, 2rem) - 0.125rem);
        @apply m-0.5 rounded-[.9rem] bg-inherit bg-opacity-100 z-10
    }

    .card-compact.card-goldenOutline .card-body {
        @apply m-0.5 rounded-[.9rem] bg-inherit bg-opacity-100 z-10 p-[.875rem]
    }

    /*---------- badge-loading ----------*/
    .badge-loading {
        @apply badge-ghost text-opacity-0 animate-pulse select-none
    }

    /*---------- text-loading ----------*/
    .text-loading {
        @apply text-opacity-0 text-black bg-base-200 w-fit animate-pulse rounded-lg select-none
    }

    /*---------- card-loading ----------*/
    .card-loading {
        @apply bg-base-200 animate-pulse
    }

    .card-loading .card-body * {
        @apply opacity-0
    }

    /*---------- loaded ----------*/
    .card-loading.loaded {
        @apply animate-none
    }

    .card-loading.loaded .card-body * {
        @apply opacity-100 transition-opacity ease-in-out
    }

    /*---------- btn-gradient ----------*/
    .btn-gradient {
        @apply focus-visible:outline-teal-600 text-white border-transparent hover:border-transparent bg-gradient-to-br from-green-500 via-teal-500 to-blue-500 bg-size-200 bg-pos-10 hover:bg-pos-90
    }
}